nav{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 110px;
}

.menu{
    display: flex;
    gap: 30px;
}

.menu a{
    text-decoration: none;
    color: white;
}

.menu a:hover{
    color: orange;
    transition: all 0.25s ease;
}